body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Times New Roman', serif;
}

.page {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    left: 0;
    top: 0;
    transition: opacity ease 1s, transform ease 0s;
}

.page.active {
    left: 0 !important;
    top: 0 !important;
    pointer-events: auto;
    opacity: 100%;
}

.page .background {
    position: absolute;
    height: 130%;
    width: 130%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease 0s;
}

.background_overlay {
    position: absolute;
    height: 130%;
    width: 130%;
    background-image: url(resources/background_overlay.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease 0s;
}

.page.home .background {
    background-image: url(resources/home_bg.jpg);
}

.page.about .background{
    background-image: url(resources/about_bg.jpg);
}

.page.gatherings .background{
    background-image: url(resources/gatherings_bg.jpg);
}

.page.connect .background{
    background-image: url(resources/connect_bg.jpg);
}

.page_content {
    transform: translate(-9.58px, -4.64px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48em;
}

.bottom_bar {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: auto;
}

.top_bar {
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_button {
    position: relative;
    font-size: 2em;
    padding: 0.5em 1em;
    pointer-events: auto;
    cursor: pointer;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    transition: color ease 0.5s;
}

.menu_button:hover {
    color: maroon;
}

.menu_button.active {
    font-weight: bold;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    width: 5em;
}

.accent {
    font-size: 1em;
    color: black;
    transition: color ease 0.5s;
}

.accent:hover {
    font-size: 1em;
    color: maroon;
    cursor: pointer;
}

.accent.left {
    position: absolute;
    top: 50%;
    left: -5em;
    transform: translateY(-50%) rotate(-90deg);
}

.accent.right {
    position: absolute;
    top: 50%;
    right: -5em;
    transform: translateY(-50%) rotate(90deg);
}

.back_button {
    position: absolute;
    left: 50%;
    top: -5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    cursor: pointer;
    transform: translateX(-50%);
}

.back_button svg {
    position: relative;
    height: auto;
    width: 100%;
}

.back_button svg #back_arrow {
    stroke: black;
    transition: stroke ease 0.5s;
}

.back_button:hover svg #back_arrow {
    stroke: maroon;
}

.logo {
    position: relative;
    font-size: 2em;
    cursor: pointer;
    pointer-events: auto;
    height: 3em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo svg {
    position: relative;
    width: auto;
    height: 100%;
}

.logo svg #crown {
    stroke: black;
    transition: stroke ease 0.5s;
}
.logo svg #plus {
    stroke: black;
    fill: black;
    transition: fill ease 0.5s;
}
.logo svg #sheep {
    fill: black;
    transition: fill ease 0.5s;
}

.logo:hover svg #crown {
    stroke: maroon;
}
.logo:hover svg #plus {
    stroke: maroon;
    fill: maroon;
}
.logo:hover svg #sheep {
    fill: maroon;
}

.gathering_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gathering_card {
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin: 1em;
    border: 0.2em black solid;
    height: 20em;
}

.gathering_card.upcoming {
    border: 0.4em black solid;
}

.page.active .rsvp_button {
    pointer-events: auto;
}

.rsvp_button {
    background-color: black;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    font-size: 2em;
    pointer-events: none;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.rsvp_button:hover {
    background-color: maroon;
}

.date, .time, .location {
    margin: 0.2em;
    text-align: center;
}

.location {
    font-size: 2em;
}

.date, .time {
    font-size: 3em;
}

.statement {
    font-size: 3em;
    text-align: center;
    position: relative;
}

.subpage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    pointer-events: none;
    transition: ease 0.5s;
    width: 100%;
}

.subpage.active {
    opacity: 100%;
    pointer-events: auto;
}

a {
    cursor: pointer;
    transition: color 0.5s ease;
    color: black;
}

a:hover {
    color: maroon;
}

.title {
    text-align: center;
    font-size: 3em;
    font-weight: bold; 
    margin-bottom: 0.5em;
    position: relative;
}

.description {
    position: relative;
    text-align: center;
    font-size: 2.5em;
}