body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
}

.page {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    left: 0;
    top: 0;
    transition: opacity ease 1s, transform ease 0s;
}

.page.active {
    left: 0 !important;
    top: 0 !important;
    pointer-events: auto;
    opacity: 1;
}

.page .background {
    position: absolute;
    height: 130%;
    width: 130%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease 0s;
}

.background_overlay {
    background-image: url(resources/bg_overlay.jpg);
    position: absolute;
    height: 130%;
    width: 130%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    transition: transform ease 0s;
}

.background_color {
    position: absolute;
    height: 130%;
    width: 130%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    transition: transform ease 0s;
}

.page#home .background {
    background-image: url(resources/home_bg.jpg);
}
.page#home .background_color {
    background-image: url(resources/bg_home_overlay.jpg);
}

.page#about .background{
    background-image: url(resources/about_bg.jpg);
}
.page#about .background_color {
    background-image: url(resources/bg_about_overlay.jpg);
}

.page#gatherings .background{
    background-image: url(resources/gatherings_bg.jpg);
}
.page#gatherings .background_color {
    background-image: url(resources/bg_gatherings_overlay.jpg);
}

.page#connect .background{
    background-image: url(resources/connect_bg.jpg);
}
.page#connect .background_color {
    background-image: url(resources/bg_connect_overlay.jpg);
}

.page_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48em;
}

.bottom_bar {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: auto;
}

.top_bar {
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_button {
    position: relative;
    font-size: 2em;
    padding: 0.5em 1em;
    pointer-events: auto;
    cursor: pointer;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    transition: color ease 0.5s;
}

.menu_button:hover {
    color: #e62b2b;
}

.menu_button.active {
    font-weight: bold;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    width: 5em;
}

.accent {
    font-size: 1em;
    color: black;
    transition: color ease 0.5s;
}

.accent:hover {
    font-size: 1em;
    color: #e62b2b;
    cursor: pointer;
}

.accent.left {
    position: absolute;
    top: 50%;
    left: -5em;
    transform: translateY(-50%) rotate(-90deg);
}

.accent.right {
    position: absolute;
    top: 50%;
    right: -5em;
    transform: translateY(-50%) rotate(90deg);
}

.back_button {
    position: absolute;
    left: 50%;
    top: -5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    cursor: pointer;
    transform: translateX(-50%);
}

.back_button svg {
    position: relative;
    height: auto;
    width: 100%;
}

.back_button svg #back_arrow {
    stroke: black;
    transition: stroke ease 0.5s;
}

.back_button:hover svg #back_arrow {
    stroke: #e62b2b;
}

.logo {
    position: relative;
    font-size: 2em;
    cursor: pointer;
    pointer-events: auto;
    height: 3em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo svg {
    position: relative;
    width: auto;
    height: 100%;
}

.logo svg #crown {
    stroke: black;
    transition: stroke ease 0.5s;
}
.logo svg #plus {
    stroke: black;
    fill: black;
    transition: 0.5s ease;
}
.logo svg #sheep {
    fill: black;
    transition: fill ease 0.5s;
}

.logo:hover svg #crown {
    stroke: #e62b2b;
}
.logo:hover svg #plus {
    stroke: #e62b2b;
    fill: #e62b2b;
}
.logo:hover svg #sheep {
    fill: #e62b2b;
}

.gathering_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gathering_card {
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin: 1em;
    border: 0.2em black solid;
    height: 20em;
}

.gathering_card.upcoming {
    border: 0.4em black solid;
}

.page.active .calendar_button {
    pointer-events: auto;
}

.calendar_button {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    font-size: 1.6em;
    pointer-events: none;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.calendar_button:hover {
    background-color: #e62b2b;
}

.date, .time, .location {
    margin: 0.2em;
    text-align: center;
}

.location {
    font-size: 2em;
}

.date, .time {
    font-size: 3em;
}

.statement {
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
}

.subpage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: ease 0.5s;
    width: 100%;
}

.subpage.active {
    opacity: 1;
    pointer-events: auto;
}

a {
    cursor: pointer;
    transition: color 0.5s ease;
    color: black;
}

a:hover {
    color: #e62b2b;
}

.title {
    text-align: center;
    font-size: 3em;
    font-weight: bold; 
    margin-bottom: 0.5em;
    position: relative;
}

.description {
    position: relative;
    text-align: center;
    font-size: 2.5em;
}

/* MOBILE */
@media (max-width: 768px) {
    .center {
        font-size: 2.5em;
    }
    .top_bar {
        top: 1em;
    }
    .logo {
        font-size: 1em;
    }
    .bottom_bar {
        bottom: 1em;
    }
    .menu_button {
        font-size: 1em;
    }
    .accent.left {
        left: -6em;
    }
    .accent.right {
        right: -6em;
    }
    .statement {
        font-size: 1.8em;
        width: 8em;
    }
    .subpage {
        width: 65%;
    }
    .title {
        font-size: 2em;
    }
    .description {
        font-size: 1.4em;
    }
    .back_button {
        top: -4em;
    }
    .gathering_card {
        font-size: 0.6em;
    }
}